<div class="m-pagehead">
  <div>
    <h1>機体を編集</h1>
    <div class="m-sub"><%= @mobile_suit.name %></div>
  </div>
</div>

<div class="mf-card">
  <%= render "form", mobile_suit: @mobile_suit %>
</div>
